@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;   
    color: inherit;
}

body {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

:root {
    --navy-color:#00256C;
    --mainbtns-color:#65728A;
    --lightgray-color:#888888;
    --footerbackground-color:#F3F4F8;
    --skyblue-color:#D0E7F6;
    --lightblue-color:#E8F3FB;
    --clearblue-color:#0064DE;
}

#navybtn {
    background: var(--navy-color);
    padding: 6px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 35px;
    font-weight: bold;
}

.wrap {
    margin: 0 auto;
    width: 1280px;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.logo {}

/* gnb */
.gnb {
    display: flex;
    gap: 24px;

}

.gnb > li {
    display: flex;
   
}

.gnb > li > a {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    padding: 40px 10px;
}

.gnb > li > a:hover {
    border-bottom: 3px solid var(--navy-color);
}

.gnb > li > a > p {
    padding-right: 10px;
}

/* sub */
.sub {
    display: none;
    background-color: #F8F9FC;
    content: '';
    width: 100%;
    height: 422px;
    position: absolute;
    top: 104px;
    left: 0;
    display: flex;
    gap: 30px;
    z-index: 100;
    justify-content: space-between;
    padding: 0 55px;
    align-items: center;
}
.sub > .inner {
    width: 270px;
    height: 315px;
    background: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 34px;
}

.sub > .inner  > a {
    display: block;
    font-weight: bold;
    padding-bottom: 27px;
}
.inner > ul {}

.inner.nope {
    box-shadow: initial;
    background: initial;
    padding: initial;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inner.nope > .sign {
    width: 270px;
    height: 149px;
    position: relative;
}

.inner.nope > .sign > a {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bold;
}

.sub > .inner > ul > li {
    font-size: 14px;
    color: var(--lightgray-color);
    padding-bottom: 18px;
}


.buttons{
    display: flex;
    align-items: center;
}

.buttons .btn {
    position: relative;
}

.buttons .btn input {
    background-color: #f4f4f4;
    border: none;
    border-radius: 30px;
    padding: 10px 28px 10px 20px;
    margin-right: 15px;
}

.buttons .btn i {
    position: absolute;
    top: 25%;
    right: 25px;
}

.buttons .login {
    display: block;
    cursor: pointer;
}


/* banner */

.banner{
    background-image: url(../images/banner_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 444px;
    display: flex;
    align-items: center;
}

.banner .booking {
    display: flex;
    flex-direction: column;
    position: relative;
}
.banner .booking .mainbtns {
    display: flex;
}
.mainbtns > li {
    width: 320px;
    height: 60px;
    background: var(--mainbtns-color);
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;

}

.mainbtns > li::before {
    position: absolute;
    content: '';
    bottom: -20px;
    right: 0;
    background: var(--mainbtns-color);
    height: 20px;
    width: 100%;
}

.mainbtns > li > a {
    font-weight: bold;
}

.mainbtns > li.active {
    background-color: #fff;
    color: #333;
}

.mainbtns > li.active::before {
    background-color: #fff;
}

.booking .contents#tabpanel-1 {
    width: 1280px;
    height: 230px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 10;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.contents#tabpanel-2 {
} 

.contents .modal {
    position: absolute;
    z-index: 100;
    top: 250px;
    left: 222px;
    width: 750px;
    height: 380px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 18px;
}

.modal .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}

.modal .title h2 {
    font-size: 24px;
}

.modal .title > i {
    cursor: pointer;
    font-weight: bold;
}

.modal input {
    width: 100%;
    padding: 18px 25px;
    font-size: 18px;
    border: 3px solid  var(--clearblue-color) ;
}

.modal > i {
    position: absolute;
    top: 81px;
    right: 63px;
    color: #aaa;
    float: right;
    padding: 20px;
}

.modal > i:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .location {
    display: flex;
    width: 100%;
    padding: 18px 25px;
    background-color:#fff;
    font-size: 18px;
    align-items: center;
    gap: 26px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
}

.modal span {
    display: flex;
    align-items: center;
    gap: 14px;
}

.booking .contents .upper {
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.upper .tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    width: 224px;
    height: 38px;
    line-height: 38px;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 60px;
}

.tab li:first-child#navybtn {
    padding: 9px 26px;
}

.tab li:last-child {
    padding-right: 26px;
}

.label {
    display: flex;
    gap: 32px;
}
.label span{
    font-size: 18px;
    color: var(--lightgray-color)
}
.label span:first-child{
    font-weight: bold;
    color: var(--navy-color);
    padding-bottom: 3px;
    border-bottom: 3px solid #DE001B ;
}

.down {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
}

.down > div {
    padding-top: 42px;
}

.down .location{
    display: flex;
    gap: 37px;
}
.down .from, .down .to {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.down .to {
    cursor: pointer;
    color: var(--lightgray-color)
}

.location img {
    display: block;
    width: 30px;
    height: 30px;
}
.location h3{
    font-size: 32px;
    line-height: 2rem;
    font-weight: bold;
}
.quickbooking {
    margin-top: 10px;
}
.quickbooking p {
    font-size: 14px;
    color: var(--lightgray-color);
}
.quickbooking .form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #888888;
}

.down span{}

.quickbooking.date{
    width: 20%;
}
.quickbooking.person{
    width: 12%;
}
.quickbooking.seat{
    width: 15%;
}

.quickbooking.person .form, .quickbooking.seat .form{
    justify-content: space-between;
}

.down .search{
    width: 10%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.down .search p#navybtn{
    border-radius: 8px;
    padding: 15px 20px;
    display: block;
    text-align: center;
}

.link {
    display: flex;
    gap: 20px;
    margin-top: 100px;
}

.link .box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.link .box img {
    display: block;
    width: 413px;
    height: 230px;
    border-radius: 18px 18px 0 0;
    transition: all 0.3s;
}

.link .box:hover img{
    scale: 1.2;
}

.link .box:hover span {
    border-bottom: 2px solid #333;
}

.link .box .title {
    z-index: 10;
    background-color: #fff;
    height: 96px;
    border-radius: 0 0 18px 18px;
    padding: 23px 40px;
}

.title span {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.46;
}

.notice {
    margin-top: 116px;
}

.notice h2 {
    font-size: 28px;
    line-height: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.notice .board {
    display: flex;
    justify-content: space-between;
}

.board .texts {
    width: 738px;
}

.board .texts li:first-child {
    
    border-top: 1px solid #dddddd;
}

.board .texts li {
    padding: 26px 0;
    border-bottom: 1px solid #dddddd;
}
.board .texts li a {
    display: flex;
    justify-content: space-between;
}

.texts li p {
    font-size: 14px;
    color: var(--lightgray-color);
}

.board .photo {
    width: 470px;
    height: 297px;
    position: relative;
}
.board .photo img {
    display: block;
}

.photo .app {
    color: #fff;
    position: absolute;
    top: 35px;
    left: 30px;
}

.app h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.app p {
    font-size: 14px;
}

.notice.icons {
    width: 100%;
    height: 303px;
    background: var(--skyblue-color);
}

.notice.icons h2 {
    padding-top: 55px;
}

.notice.icons .group {
    display: flex;
    gap: 20px;
}

.group .itembox {
    width: 197px;
    height: 131px;
    border-radius: 18px;
    background: var(--lightblue-color);
    text-align: center;
    padding: 20px 0;
}

.itembox h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 2rem;
}

.itembox img {
    /* display: block; */
}

.footer {
    height: 270px;
    background: var(--footerbackground-color);
}
.footer .f_des {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    margin-right: 25%;
}

.f_des .des {
    
}

.f_des .des h4 {
    font-size: 18px;
    padding-bottom: 12px;
}

.des p {
    font-size: 14px;
    color: #555;
    font-weight: 400;
    padding: 4px 0;
}

.f_info {
    height: 126px;
    padding: 18px 0;
}

.f_info span:first-child {
    font-size: 14px;
    color: var(--navy-color);
}
.f_info span {
    font-size: 12px;
    color: #555;
}

.f_info p {
    padding-top: 28px;
    font-size: 12px;
    color: #555;
}

body {
    position: relative;
}

.floating_button {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    bottom: -97px;
    right: 35px;
}