* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;   
    color: inherit;
}

body {
    font-size: 16px;
    line-height: 20px;
}

:root {
    --navy-color:#00256C;
    --mainbtns-color:#65728A;
}

.wrap {
    margin: 0 auto;
    width: 1280px;
    /* background-color: orange; */
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    background-color: #fff;
}

.logo {}

.gnb {
    display: flex;
    gap: 20px;
}

.gnb > li {
    display: flex;
    gap: 10px;
    align-items: center;
   
}

.gnb > li > a {
    display: block;
    font-weight: bold;
}
.buttons{
    display: flex;
    align-items: center;
}

.buttons .btn {
    position: relative;
}

.buttons .btn input {
    background-color: #f4f4f4;
    border: none;
    border-radius: 30px;
    padding: 10px 24px;
    margin-right: 15px;
}

.buttons .btn i {
    position: absolute;
    top: 25%;
    right: 25px;
}

.buttons .login {
    display: block;
}

#navybtn {
    background: var(--navy-color);
    padding: 6px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 35px;
    font-weight: bold;
}

/* banner */

.banner{
    background-image: url(../images/banner_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 444px;
    display: flex;
    align-items: center;
}

.banner .booking {
    display: flex;
    flex-direction: column;
}
.banner .booking .mainbtns {
    display: flex;
}
.mainbtns > li {
    width: 320px;
    height: 60px;
    background: var(--mainbtns-color);
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;

}

.mainbtns > li::before {
    position: absolute;
    content: '';
    bottom: -20px;
    right: 0;
    background: var(--mainbtns-color);
    height: 20px;
    width: 100%;
}

.mainbtns > li > a {
    font-weight: bold;
}

.mainbtns > li.active {
    background-color: #fff;
    color: #333;
}

.mainbtns > li.active::before {
    background-color: #fff;
}

.booking .contents {
    width: 1280px;
    height: 230px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.booking .contents .upper {
    display: flex;
    align-items: center;
    margin-top: 40px;

}

.upper .tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    width: 224px;
    padding: 8px 20px;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 60px;
}

.tab li:first-child #navybtn {
    padding: 10px 18px;
}

.booking .contents .down {
    display: flex;
}